/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #0e0e0e;
    overflow-x: hidden;
}

/* Контейнер */
.container {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}

/* Хедер */
.header {
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для матового стеклянного эффекта */
    color: white;
    padding: 10px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Достаточно высокий z-index */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: relative; /* Меню не фиксированное */
    backdrop-filter: blur(10px); /* Размытие фона */
    -webkit-backdrop-filter: blur(10px); /* Поддержка WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
}

.header:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Более темный при наведении */
}

/* Секции с матовым стеклом */
.about, .skills, .projects, .contact, .experience {
    padding: 100px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для матового стекла */
    border-radius: 15px; /* Скругленные углы */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Легкая тень */
    backdrop-filter: blur(10px); /* Размытие фона */
    -webkit-backdrop-filter: blur(10px); /* Поддержка WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

/* Раздел "Обо мне" */
.about {
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    border-radius: 12px; /* Увеличенные скругленные углы */
    padding: 40px; /* Увеличенные внутренние отступы */
    margin: 40px 0; /* Увеличенные внешние отступы */
    color: #e0e0e0;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
    backdrop-filter: blur(10px); /* Матовое стекло */
    -webkit-backdrop-filter: blur(10px); /* Поддержка WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
    position: relative; /* Для использования псевдоэлементов */
}

/* Контейнер для текста и фото */
.about-text-photo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px; /* Пробел между текстом и фото */
}

.about-text {
    flex: 2;
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Контейнер для текста с зеленой линией */
.about-content {  
    position: relative; /* Для использования псевдоэлементов */
    max-width: 800px; /* Максимальная ширина для удобного чтения */
    margin: 0 auto; /* Центрирование контента */
    padding-left: 20px; /* Отступ для начала текста */
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Зеленая линия */
.green-line {
    position: absolute;
    left: 0; /* Линия прикрепляется к левому краю контейнера */
    top: 0;
    bottom: 0;
    width: 4px; /* Ширина линии */
    background: #00ffcc; /* Цвет линии */
    border-radius: 4px; /* Скругление углов линии */
}

/* Стили для текста */
.about-content p {
    margin-left: 24px; /* Отступ текста от линии */
    font-size: 1.1em; /* Размер шрифта для описания */
    color: #e0e0e0;
    line-height: 1.6; /* Высота строки для лучшей читаемости */
}


/* Стили для фото */
.about-photo-wrapper {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-photo, .shadow-photo {
    width: 100%;
    border-radius: 8px;
    position: absolute;
}

.main-photo {
    width: 100%;
    border-radius: 8px;
    position: relative;
    z-index: 2;
}

.shadow-photo {
    top: 15px; /* Смещение вниз */
    left: 15px; /* Смещение влево */
    z-index: 1;
    opacity: 0.5;
}
/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
    .about {
        flex-direction: column; /* Располагаем элементы один под другим */
        align-items: center; /* Выравнивание по центру */
    }
    
    .about-text-photo-wrapper {
        flex-direction: column; /* Располагаем текст и фото вертикально */
        align-items: center; /* Выравнивание по центру */
        gap: 20px; /* Пробел между текстом и фото */
    }
    
    .about-photo-wrapper {
        max-width: 150px; /* Максимальная ширина фото на мобильных устройствах */
    }
    
    .about-content {
        text-align: center; /* Выравнивание текста по центру */
    }
}

/* Контактная информация */
.about .contact-info {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-top: 20px;
}

.about .contact-info a {
    color: #66fcf1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.about .contact-info a:hover {
    color: #00ffcc;
    transform: scale(1.05);
}

/* Стилизация заголовка раздела */
.about h2 {
    font-size: 2.2em; /* Увеличенный размер шрифта заголовка */
    margin-bottom: 20px; /* Увеличенный отступ снизу заголовка */
    color: #00ffcc;
}

.highlight {
    font-weight: bold;
    color: #00ffcc;
}

.highlight::before {
    content: "» ";
    color: #00cc99;
}

.highlight::after {
    content: " «";
    color: #00cc99;
}



/* Навигация */
.nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s, transform 0.3s;
}

.nav ul li a:hover {
    color: #00ffcc;
    transform: scale(1.1);
}

/* Главная страница */
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-in-out;
}

.home p {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeInUp 1.5s ease-in-out;
}

.cta-button {
    padding: 10px 20px;
    background-color: #00ffcc;
    color: #0e0e0e;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transform: translateY(20px); /* Сдвигаем кнопку вниз */
    animation: fadeInUp 1s ease-in-out 0.5s forwards; /* Добавляем анимацию */
}

.cta-button:hover {
    background-color: #00cc99;
    transform: scale(1.05);
}

/* Фоновый элемент */
#vanta-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Раздел "Навыки" */
.skills {
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00ffcc;
    animation: fadeInUp 1s ease-in-out;
}

/* Стили для списка навыков */
.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills ul li {
    display: inline-block;
    margin: 10px;
    font-size: 28px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: default; /* Убираем курсор текст */
}

/* Элементы появляются и перемещаются на свои места */
.skill-item[data-aos="fade-up"] {
    transform: translateY(0); /* Перемещение на своё место */
    opacity: 1; /* Показать элементы */
}

/* Убраны эффекты курсора для текста внутри навыков */
.skills ul li span {
    background: linear-gradient(to right, #00ffcc, #00cc99);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    cursor: default; /* Убираем курсор текст */
}

/* Разделы */
.about, .skills, .projects, .contact, .experience {
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для матового стекла */
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

/* Раздел "Мои кейсы" */
.experience {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
    padding: 80px 20px; /* Уменьшены отступы */
    text-align: center;
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.experience h2 {
    font-size: 2em; /* Уменьшенный размер шрифта */
    margin-bottom: 20px;
    color: #00ffcc;
    animation: fadeInUp 1s ease-in-out;
}

/* Контейнер для блоков опыта работы */
.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
    gap: 20px; /* Отступ между блоками */
}

.experience-item {
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
    border-radius: 12px;
    width: 500px; /* Ширина блока */
    height: 240px; /* Высота блока */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: default; /* Убираем курсор текст */
    overflow: hidden; /* Обрезка содержимого, выходящего за пределы квадрата */
    display: block; /* Делает элемент блочным для ссылок */
    text-decoration: none; /* Убирает подчеркивание ссылок */
    color: inherit; /* Наследует цвет от родительского элемента */
    margin-bottom: 15px; /* Отступ между кейсами */
}

/* Основные стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1001; /* Над остальным содержимым */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

/* Контент модального окна с эффектом матового стекла */
.modal-content {
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный темный фон для матового стекла */
    margin: 10% auto; /* Позиционирование по центру вертикали */
    padding: 20px;
    border-radius: 12px; /* Скругленные углы */
    width: 60%; /* Ширина модального окна */
    max-width: 800px; /* Максимальная ширина окна */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px); /* Эффект размытия для матового стекла */
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #00ffcc; /* Цвет текста */
    transform-origin: center center; /* Центр анимации */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Стили для контейнера логотипа и текста в модальном окне */
.modal-logo-info {
    display: flex;
    align-items: center;
}

.modal-logo {
    flex: 0 0 150px; /* Фиксированная ширина логотипа */
    height: 150px; /* Высота логотипа */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Отступ между логотипом и текстом */
}

.modal-logo img {
    width: 100%; /* Установка ширины изображения в 100% от контейнера */
    height: auto; /* Высота автоматически рассчитывается в зависимости от ширины */
}

.modal-info {
    flex: 1; /* Занимает оставшееся пространство */
    text-align: left; /* Выравнивание текста по левому краю */
}

.modal-info h3 {
    color: #00ffcc;
}

.modal-info p {
    color: #fff;
}

.modal-info a {
    color: #00ffcc;
    text-decoration: underline;
}

.modal-info a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Кнопка закрытия */
.close {
    color: #fff; /* Белый цвет для кнопки закрытия */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #00ffcc; /* Цвет кнопки закрытия при наведении */
    text-decoration: none;
}

/* Анимация появления модального окна */
@keyframes modalOpen {
    from {
        transform: scale(0.5); /* Исходное состояние, окно маленькое */
        opacity: 0;
    }
    to {
        transform: scale(1); /* Полный размер окна */
        opacity: 1;
    }
}

/* Анимация закрытия модального окна */
@keyframes modalClose {
    from {
        transform: scale(1); /* Полный размер окна */
        opacity: 1;
    }
    to {
        transform: scale(0.5); /* Исходное состояние, окно маленькое */
        opacity: 0;
    }
}

.experience-item:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый фон при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.02); /* Легкое увеличение при наведении */
}

/* Стили для контейнера логотипа и информации */
.logo-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* Учитываем padding в общей ширине и высоте */
}

/* Стили для логотипа */
.logo {
    flex: 0 0 150px; /* Фиксированная ширина логотипа */
    height: 150px; /* Высота логотипа */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Отступ между логотипом и текстом */
}

.logo img {
    width: 100%; /* Установка ширины изображения в 100% от контейнера */
    height: auto; /* Высота автоматически рассчитывается в зависимости от ширины */
}
.github-link .logo-info {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer; /* Изменяет курсор на указатель при наведении */
}

/* Стили для разделителя между логотипом и информацией */
.logo-info::before {
    content: '';
    display: block;
    width: 2px; /* Ширина разделителя */
    height: 150px; /* Высота разделителя соответствует высоте логотипа */
    background: #00ffcc; /* Цвет разделителя */
    margin: 0 20px; /* Отступы по бокам разделителя */
}

/* Стили для информации */
.info {
    text-align: left; /* Выравнивание текста по левому краю */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Вертикальное центрирование текста */
    width: calc(100% - 170px); /* Учитываем ширину логотипа и отступы */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.info h3 {
    font-size: 1.4em; /* Размер заголовка */
    margin-bottom: 10px;
    color: #00ffcc;
}

.info p {
    font-size: 0.9em; /* Размер шрифта описания */
    color: #e0e0e0;
    line-height: 1.4; /* Высота строки для лучшей читаемости */
}

/* Основные медиазапросы для мобильных устройств */

/* Медиазапросы для устройств шириной до 768px */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Увеличиваем ширину контейнера для мобильных устройств */
        padding: 30px 0; /* Уменьшаем вертикальные отступы */
    }

    .about, .skills, .projects, .contact, .experience {
        padding: 50px 15px; /* Уменьшаем отступы внутри секций */
    }

    .about h2, .skills h2, .experience h2, .contact h2 {
        font-size: 1.8em; /* Уменьшаем размер шрифта заголовков */
    }

    .about-content p, .skills ul li, .experience-item-content p, .contact-item {
        font-size: 1em; /* Уменьшаем размер шрифта текста */
    }

    /* Изменяем стили карточек опыта */
    .experience-item {
        width: 100%; /* Карточки занимают всю ширину */
        padding: 20px; /* Уменьшаем внутренние отступы */
        height: auto; /* Динамическая высота */
    }

    /* Скрываем логотип в карточке при открытии */
    .modal-logo {
        display: none; /* Логотип скрыт */
    }

    /* Меньше отступ между логотипом и текстом в "Мои кейсы" */
    .logo {
        margin-right: 10px; /* Уменьшение отступа справа */
    }

    .experience-item-content h3 {
        margin-bottom: 10px; /* Уменьшаем отступ снизу для заголовка */
    }

    .experience-item-content p {
        margin-top: 5px; /* Уменьшаем отступ сверху для текста */
        font-size: 0.9em; /* Уменьшаем размер шрифта текста */
    }

    /* Уменьшение размера логотипа */
    .logo {
        flex: 0 0 100px; /* Уменьшение ширины логотипа */
        height: 100px; /* Уменьшение высоты логотипа */
    }
}

/* Медиазапросы для устройств шириной до 576px */
@media (max-width: 576px) {
    .home h1 {
        font-size: 40px; /* Уменьшение размера шрифта заголовка на главной */
    }

    .home p {
        font-size: 18px; /* Уменьшение размера шрифта текста на главной */
    }

    .cta-button {
        padding: 8px 16px; /* Уменьшение отступов кнопки */
    }

    .experience-container {
        margin-top: 5px; /* Уменьшение верхнего отступа */
        gap: 10px; /* Уменьшение отступов между блоками */
    }

    .experience-item {
        padding: 15px; /* Уменьшение внутренних отступов */
    }

    .modal-content {
        width: 90%; /* Увеличение ширины модального окна */
        padding: 10px; /* Уменьшение внутренних отступов в модальном окне */
    }

    /* Меньше отступ между заголовком и текстом */
    .about h2, .skills h2, .experience h2, .contact h2 {
        margin-bottom: 10px; /* Уменьшение отступа снизу */
    }

    .about-content p {
        margin-left: 10px; /* Уменьшение отступа слева для текста */
    }

    /* Скрываем логотип в карточке при открытии */
    .modal-logo {
        display: none; /* Логотип скрыт */
    }

    /* Уменьшение размера логотипа в "Мои кейсы" */
    .logo {
        flex: 0 0 80px; /* Еще меньше ширина логотипа */
        height: 80px; /* Еще меньше высота логотипа */
    }
}

/* Дополнительные медиазапросы для очень маленьких экранов */
@media (max-width: 400px) {
    .home h1 {
        font-size: 32px; /* Еще меньше размер шрифта заголовка на главной */
    }

    .home p {
        font-size: 16px; /* Еще меньше размер шрифта текста на главной */
    }

    .cta-button {
        padding: 6px 12px; /* Еще меньше отступы кнопки */
    }

    .experience-item-content p {
        font-size: 0.8em; /* Еще меньше размер шрифта текста */
    }

    .modal-content {
        width: 95%; /* Почти полная ширина для модального окна */
    }
}



/* Раздел "Контакты" */
.contact {
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для матового стекла */
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00ffcc;
    animation: fadeInUp 1s ease-in-out;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-item {
    font-size: 1.5em;
    color: #e0e0e0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Убираем курсор текст */
}
/* Стили для кнопки почты */
.contact-item.email {
    cursor: pointer; /* Указатель курсора при наведении */
    transform: scale(1.05);
}

/* Убрано изменение курсора на кликабельность для контактов */
.contact-item:hover {
    background-color: #00ffcc;
    color: #0e0e0e;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* Стили для уведомления */
#notification {
    position: fixed;
    top: 20px; /* Расстояние от верхней части страницы */
    left: 50%; /* Смещение к центру */
    transform: translateX(-50%); /* Центрирование уведомления по горизонтали */
    background-color: #00ffcc; /* Полупрозрачный зеленый фон */
    color: #0e0e0e; /* Белый цвет текста */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Изначально скрыто */
    opacity: 0; /* Изначальная прозрачность 0 для плавного появления */
    z-index: 1000; /* Убедитесь, что уведомление поверх других элементов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта */
    transition: opacity 0.5s ease; /* Плавное появление/исчезновение */
}


/* Анимации */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Медиа запросы */
@media (max-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 40px 0;
    }
    
    .header {
        padding: 5px 0;
    }

    .home h1 {
        font-size: 40px;
    }

    .home p {
        font-size: 20px;
    }

    .cta-button {
        padding: 8px 16px;
    }

    .skills ul li {
        font-size: 24px;
        padding: 8px 16px;
    }

    .experience-item,
    .github-profile {
        padding: 15px;
    }

    .contact-item {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 3px 0;
    }

    .home h1 {
        font-size: 30px;
    }

    .home p {
        font-size: 18px;
    }

    .cta-button {
        padding: 6px 12px;
    }

    .skills ul li {
        font-size: 20px;
        padding: 6px 12px;
    }

    .experience-item,
    .github-profile {
        padding: 10px;
    }

    .contact-item {
        font-size: 1em;
        padding: 6px 12px;
    }
}
