/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #0e0e0e;
    overflow-x: hidden;
}

/* Контейнер */
.container {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}

/* Хедер */
.header {
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для матового стеклянного эффекта */
    color: white;
    padding: 10px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Достаточно высокий z-index */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: relative; /* Меню не фиксированное */
    backdrop-filter: blur(10px); /* Размытие фона */
    -webkit-backdrop-filter: blur(10px); /* Поддержка WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
}

.header:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Более темный при наведении */
}

/* Секции с матовым стеклом */
.about, .skills, .projects, .contact, .experience {
    padding: 100px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для матового стекла */
    border-radius: 15px; /* Скругленные углы */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Легкая тень */
    backdrop-filter: blur(10px); /* Размытие фона */
    -webkit-backdrop-filter: blur(10px); /* Поддержка WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

/* Раздел "Обо мне" */
.about {
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    border-radius: 12px; /* Увеличенные скругленные углы */
    padding: 40px; /* Увеличенные внутренние отступы */
    margin: 40px 0; /* Увеличенные внешние отступы */
    color: #e0e0e0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
    backdrop-filter: blur(10px); /* Матовое стекло */
    -webkit-backdrop-filter: blur(10px); /* Поддержка WebKit */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
    position: relative; /* Для использования псевдоэлементов */
}


/* Контейнер для текста с зеленой линией */
.about-content {
    position: relative; /* Для использования псевдоэлементов */
    max-width: 800px; /* Максимальная ширина для удобного чтения */
    margin: 0 auto; /* Центрирование контента */
    padding-left: 20px; /* Отступ для начала текста */
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Зеленая линия */
.green-line {
    position: absolute;
    left: 0; /* Линия прикрепляется к левому краю контейнера */
    top: 0;
    bottom: 0;
    width: 4px; /* Ширина линии */
    background: #00ffcc; /* Цвет линии */
    border-radius: 4px; /* Скругление углов линии */
}

/* Стили для текста */
.about-content p {
    margin-left: 24px; /* Отступ текста от линии */
    font-size: 1.1em; /* Размер шрифта для описания */
    color: #e0e0e0;
    line-height: 1.6; /* Высота строки для лучшей читаемости */
}

/* Стилизация заголовка раздела */
.about h2 {
    font-size: 2.2em; /* Увеличенный размер шрифта заголовка */
    margin-bottom: 20px; /* Увеличенный отступ снизу заголовка */
    color: #00ffcc;
}

.about .highlight {
    font-weight: bold;
    color: #00ffcc;
}

.about .highlight::before {
    content: "» ";
    color: #00cc99;
}

.about .highlight::after {
    content: " «";
    color: #00cc99;
}

.about .contact-info {
    font-size: 1.2em;
    color: #e0e0e0;
    margin-top: 20px;
}

.about .contact-info a {
    color: #66fcf1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.about .contact-info a:hover {
    color: #00ffcc;
    transform: scale(1.05);
}

/* Навигация */
.nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s, transform 0.3s;
}

.nav ul li a:hover {
    color: #00ffcc;
    transform: scale(1.1);
}

/* Главная страница */
.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-in-out;
}

.home p {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeInUp 1.5s ease-in-out;
}

.cta-button {
    padding: 10px 20px;
    background-color: #00ffcc;
    color: #0e0e0e;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transform: translateY(20px); /* Сдвигаем кнопку вниз */
    animation: fadeInUp 1s ease-in-out 0.5s forwards; /* Добавляем анимацию */
}

.cta-button:hover {
    background-color: #00cc99;
    transform: scale(1.05);
}

/* Фоновый элемент */
#vanta-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Раздел "Навыки" */
.skills {
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00ffcc;
    animation: fadeInUp 1s ease-in-out;
}

/* Стили для списка навыков */
.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills ul li {
    display: inline-block;
    margin: 10px;
    font-size: 28px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: default; /* Убираем курсор текст */
}

/* Элементы появляются и перемещаются на свои места */
.skill-item[data-aos="fade-up"] {
    transform: translateY(0); /* Перемещение на своё место */
    opacity: 1; /* Показать элементы */
}

.skills ul li:hover {
    transform: scale(1.1); /* Увеличиваем элемент при наведении */
    background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый фон при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Убраны эффекты курсора для текста внутри навыков */
.skills ul li span {
    background: linear-gradient(to right, #00ffcc, #00cc99);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    cursor: default; /* Убираем курсор текст */
}

/* Разделы */
.about, .skills, .projects, .contact, .experience {
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для матового стекла */
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

/* Раздел "Мои кейсы" */
.experience {
    background-color: rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
    padding: 80px 20px; /* Уменьшены отступы */
    text-align: center;
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.experience h2 {
    font-size: 2em; /* Уменьшенный размер шрифта */
    margin-bottom: 20px;
    color: #00ffcc;
    animation: fadeInUp 1s ease-in-out;
}

/* Контейнер для блоков опыта работы */
.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
    gap: 20px; /* Отступ между блоками */
}

.experience-item {
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
    border-radius: 12px;
    width: 500px; /* Ширина блока */
    height: 240px; /* Высота блока */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: default; /* Убираем курсор текст */
    overflow: hidden; /* Обрезка содержимого, выходящего за пределы квадрата */
    display: block; /* Делает элемент блочным для ссылок */
    text-decoration: none; /* Убирает подчеркивание ссылок */
    color: inherit; /* Наследует цвет от родительского элемента */
    margin-bottom: 15px; /* Отступ между кейсами */
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .experience-item {
        max-width: 100%; /* Устанавливаем ширину 100% для мобильных устройств */
        padding: 10px; /* Уменьшаем внутренние отступы для мобильных устройств */
    }
}

/* Для мобильных устройств, чтобы избежать перекрытия заголовка */
@media (max-width: 576px) {
    .experience-container {
        margin-top: 10px; /* Уменьшаем отступ сверху для мобильных устройств */
        gap: 15px; /* Уменьшаем отступы между блоками */
    }
}
/* Корректировка отступов и логотипа на мобильных устройствах */
@media (max-width: 768px) {
    .logo {
        margin-left: -10px; /* Сдвигаем логотип влево для лучшего размещения текста */
        margin-right: 5px; /* Уменьшаем отступ справа */
    }
    .experience-item-content h3 {
        margin-bottom: 10px; /* Уменьшенный отступ снизу для заголовка */
    }

    .experience-item-content p {
        margin-top: 5px; /* Уменьшенный отступ сверху для текста */
        font-size: 0.9em; /* Уменьшенный размер шрифта текста */
    }
}
/* Для очень маленьких экранов */
@media (max-width: 576px) {
    .logo {
        margin-left: -5px; /* Дополнительное смещение логотипа влево */
    }

    .experience-item {
        padding: 8px; /* Дополнительное уменьшение отступов */
    }

    .experience-container {
        gap: 10px; /* Дополнительное уменьшение отступов */
        margin-top: 5px; /* Дополнительное уменьшение отступов сверху */
    }
}

.experience-item:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый фон при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.02); /* Легкое увеличение при наведении */
}

/* Стили для контейнера логотипа и информации */
.logo-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* Учитываем padding в общей ширине и высоте */
}

/* Стили для логотипа */
.logo {
    flex: 0 0 150px; /* Фиксированная ширина логотипа */
    height: 150px; /* Высота логотипа */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Отступ между логотипом и текстом */
}

.logo img {
    width: 100%; /* Установка ширины изображения в 100% от контейнера */
    height: auto; /* Высота автоматически рассчитывается в зависимости от ширины */
}
.github-link .logo-info {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer; /* Изменяет курсор на указатель при наведении */
}
/* Стили для разделителя между логотипом и информацией */
.logo-info::before {
    content: '';
    display: block;
    width: 2px; /* Ширина разделителя */
    height: 150px; /* Высота разделителя соответствует высоте логотипа */
    background: #00ffcc; /* Цвет разделителя */
    margin: 0 20px; /* Отступы по бокам разделителя */
}

/* Стили для информации */
.info {
    text-align: left; /* Выравнивание текста по левому краю */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Вертикальное центрирование текста */
    width: calc(100% - 170px); /* Учитываем ширину логотипа и отступы */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.info h3 {
    font-size: 1.4em; /* Размер заголовка */
    margin-bottom: 10px;
    color: #00ffcc;
}

.info p {
    font-size: 0.9em; /* Размер шрифта описания */
    color: #e0e0e0;
    line-height: 1.4; /* Высота строки для лучшей читаемости */
}

/* Раздел "Контакты" */
.contact {
    padding: 100px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для матового стекла */
    border-radius: 8px;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00ffcc;
    animation: fadeInUp 1s ease-in-out;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-item {
    font-size: 1.5em;
    color: #e0e0e0;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default; /* Убираем курсор текст */
}

/* Убрано изменение курсора на кликабельность для контактов */
.contact-item:hover {
    background-color: #00ffcc;
    color: #0e0e0e;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Анимации */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Медиа запросы */
@media (max-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 40px 0;
    }
    
    .header {
        padding: 5px 0;
    }

    .home h1 {
        font-size: 40px;
    }

    .home p {
        font-size: 20px;
    }

    .cta-button {
        padding: 8px 16px;
    }

    .skills ul li {
        font-size: 24px;
        padding: 8px 16px;
    }

    .experience-item,
    .github-profile {
        padding: 15px;
    }

    .contact-item {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 3px 0;
    }

    .home h1 {
        font-size: 30px;
    }

    .home p {
        font-size: 18px;
    }

    .cta-button {
        padding: 6px 12px;
    }

    .skills ul li {
        font-size: 20px;
        padding: 6px 12px;
    }

    .experience-item,
    .github-profile {
        padding: 10px;
    }

    .contact-item {
        font-size: 1em;
        padding: 6px 12px;
    }
}
